@model IEnumerable<houseCRUD.Models.CCustomer>

@{
    ViewBag.Title = "顧客資料";
}


    <h4>顧客資料</h4>

<p>
    <input class="seachname" type="text" placeholder="請輸入搜尋姓名" />
    <input class="" type="button" value="搜尋" />
</p>
<table class="table table-striped">
    <tr>
        <th>
            編號
        </th>
        <th>
            姓名
        </th>
        <th>
            生日
        </th>
        <th>
            性別
        </th>
        <th>
            電子信箱
        </th>
        <th>
            地址
        </th>
        <th>
            電話
        </th> 
        <th></th>
    </tr>

@foreach (var item in Model) {
    string s = "return confirm('確定要刪除" + item.fCustomerName + "嗎 ? ')";
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fCustomerId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fCustomerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fCustomerBirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fCustomerGender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fCustomerEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fCustomerAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fCustomerPhone)
        </td>
        <td>
            @Html.ActionLink("編輯", "CustomerEdit") |
            @Html.ActionLink("刪除", "CustomerDelete", "Home", new{OnClick = s})
        </td>
    </tr>
}

</table>
<p>@Html.ActionLink("新增顧客資料", "CustomerCreate")</p>
